# Day1

# Basic Components of Python :-
### 1. comments 
### 2. keywords
### 3. Identifiers 
### 4. Variables 
### 5. Datatypes
### 6. operators

## 1. Comments:-

In [5]:
#This is a single line comments

In [7]:
""" This
is
a 
multiline comments
"""

' This\nis\na \nmultiline comments\n'

In [8]:
90+89

179

## 2.Keyword :- Reserved Words
#### In python there are 35+ keywords

In [9]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

finally #words which are green and bold are keywords
print() # words which are green and have () are predefined functions.
var # words which are black are variables.
'hii' # words whose color is red are valid strings.
"Hello"
'''suman'''
""" Sumanisfr """

## 3. Identifiers:- are the name we used give to the variables,fuction inorder to identify
#### Rules of Naming an identifiers:-"Identifierd's Rule"

In [2]:
 # 1. We cannot use keywords are identifier's name.
 except = 100

SyntaxError: invalid syntax (1767419929.py, line 2)

In [3]:
# 2. We cannot use digits as the first character of an identifier's name.
 12var = 'apple

IndentationError: unexpected indent (1214249817.py, line 2)

In [4]:
 # 3. We cannot have spaces in between identifier's name.
 var one = 'apple'

SyntaxError: invalid syntax (2765923115.py, line 2)

In [5]:
 # 4. We cannot use any special characters except an underscore.
 var#1 = 'apple'

NameError: name 'var' is not defined

In [6]:
 var_1 = 'cat'

In [7]:
 # 5. python is a case-sensitive language i.e: 'a' != 'A'.
 v = 'cat'
 print(V)

NameError: name 'V' is not defined

In [8]:
 var_one = 'pine'

## 5. VARIABLES:
### Variables are like container which helps to store certain values which is also used for memory allocation.
#### Variables always follows the identifier rules while naming.

In [9]:
var = 1000

In [10]:
print(var)

1000

## 5. Datatypes:-
####Primary Data Types
 •
 1. Numeric Data Types
 Integer (INT) 
○
 Example: 1, -5, 42
 ○
 Whole numbers without decimal points
 •
 Float (Floating Point) 
○
 Example: 23.67, -3.14, 0.001
 ○
 Numbers with decimal points
 •
 Complex 
○
 Example: 24+62j, 3-4j, 5+0j
 ○
 Numbers with real and imaginary parts
 •
 2. Non-Numeric Data Types
 String 
○
 Example: "hello", 'world', "123"
 ○
 Text data enclosed in quotes
 •
 Boolean 
○
 Example: True, False
 ○
 Logical values representing true or false states
 Sequential Data Types
 1. Ordered Collections
 •
 •
 ○
 List :- sequence of elements present within [, , ,].
 Example: [1, 2, 3], ["apple", "banana"]
 ○
 Mutable, ordered collection of items
 ○
 Tuple :- sequence of elements within (, , , ,).
 Example: (1, 2, 3), ("x", "y")
 ○
 Immutable, ordered collection of items
 2. Unordered Collections
 •
 •
 Dictionary :- It has key and value pair enclosed with { , , , }.
 •
 ○
 Set :- sequence of characters enclosed in { , , ,}.
 Example: {1, 2, 3}, {"apple", "banana"}
 ○
 Unordered collection of unique items
 ○
 Key is primary data type and value can be of any data type.
 Example: {"name": "John", "age": 30}
 ○
 Key-value pairs, unordered mapping

In [12]:
# 1. int:
var1 = 2189734979743789
type(var1)

int

In [13]:
 # 2. float:
var2 = 6778789.99
type(var2)

float

In [14]:
 # 3. complex:
var3 = 678+77j
type(var3)

complex

In [15]:
var4 = 88+89i
type(var4)

SyntaxError: invalid decimal literal (26015673.py, line 1)

In [16]:
 # 4. bool:
var5 = True
type(var5)

bool

In [17]:
 # 5. string:
var6 = 'hello'
type(var6)

str

In [18]:
 var7 = "A"
 type(var7)

str

In [19]:
var8 = '''world'''
type(var8)

str

In [20]:
 var9 = """hello
 world"""
 type(var9)

str

In [22]:
# Sequential datatype:
# 1. list:- are sequence of elements present within [ , , ,].
var10 = [1,2,3,4,5,76]
type(var10)

list

In [23]:
var11 = ['apple',78,True, 78+8j]
type(var11)

list

In [24]:
 # 2. tuple:- are sequence of elements within (, , ,).
 var12 = ('apple','bat', 'van')
 type(var12)

tuple

In [25]:
 var13 = ('Van', 12, 90.99,False)
 type(var13)

tuple

In [26]:
 # 3. set :- are sequence of elements within {, , ,}.
 s1 = {1,23,4,6,7}
 type(s1)

set

In [27]:
 s2 = {'world' , 67, 89.44, True, 90+34j}
 type(s2)

set

In [28]:
 # 4. dictionary:- are collections of paired element denoted with {}.
 # d = {keyname : value, keyname : value}
 # keynames can be made using any primary datatypes
 # values can be made using any primary or sequential datatypes.
 d = {1:'apple',67.99:[3,4,6,78],90+7j:True}
 type(d)

dict

# 5. Inputs are used to make our program interactive and to check the correctness of our program.
### We use input funtion.

In [30]:
name = input("Enter your name: ")

Enter your name:  Suman

In [31]:
name

'Suman'

In [32]:
a = input("Enter a number: ")
b = input("Enter 2nd number: ")
print(a+b)

Enter a number:  45
Enter 2nd number:  10

4510

In [33]:
type(a)

str

## Typecasting:- The process of converting one data type to another explicitly without loosing any of these data is known as type casting.

In [34]:
 a = int(input("Enter a number: "))
 b = int(input("Enter 2nd number: "))
 print(a+b)

Enter a number:  10
Enter 2nd number:  20

30

In [35]:
type(a)

int

## Outputs:-
#### It is used to show the result or the outcome of out program.

In [37]:
print("This is my message")

This is my message

In [38]:
 a = int(input("Enter a number: "))
 b = int(input("Enter 2nd number: "))
 print("The sum of",a,"and", b,"is", a+b)

Enter a number:  44
Enter 2nd number:  44

The sum of 44 and 44 is 88

In [ ]:
 # string formatting:- a way to combine message along with expressions
 a = int(input("Enter a number: "))
 b = int(input("Enter 2nd number: "))
 print(f"The sum of {a} and {b} is {a+b}")

Enter a number:  10
Enter 2nd number:  55

The sum of 10 and 55 is 65

In [ ]:
print("suman")