## Dictionary : consist of key:value pair inside a paranthesis.
#### 1. It can have and values of different data types.

## Dictionary Attributes:-
#### keys() :- Returns the list of the dictionary's key.
#### values() :- Returns the list of the dictionary's values.
#### item() :- Returns the list of all key value pair.
#### update() :- If the exists in the dictionary this will update the value of the keys,otherwise this will update key:value pair to the dictionary.
#### get(key_value) :- Returns the appropriate value for the key.
#### pop(key_value) :- Delete the value  associate with the key.
#### clear() :- It remove the entire values in the dictionary.

In [3]:
# Example of a dictionary with different data types for keys and values
my_dict = {
  'name': 'Alice',
  1: [10, 20, 30],
  3.14: True,
  (2, 3): {'nested': 'dict'}
}
print(my_dict)

{'name': 'Alice', 1: [10, 20, 30], 3.14: True, (2, 3): {'nested': 'dict'}}

In [4]:
# Example: Using a dictionary to count occurrences of elements in a list
fruits = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
fruit_count = {}

for fruit in fruits:
  if fruit in fruit_count:
    fruit_count[fruit] += 1
  else:
    fruit_count[fruit] = 1

print(fruit_count)  # Output: {'apple': 3, 'banana': 2, 'orange': 1}

{'apple': 3, 'banana': 2, 'orange': 1}

In [10]:
dic={'name':'Surya','roll_n':'74','course':'aiml'}
print(dic)

{'name': 'Surya', 'roll_n': '74', 'course': 'aiml'}

In [13]:
#Keys
dic.keys()

dict_keys(['name', 'roll_n', 'course'])

In [14]:
#values
dic.values()

dict_values(['Surya', '74', 'aiml'])

In [20]:
#update() 
dic.update({'name':'Suryasnata'})
dic

{'name': 'Suryasnata', 'roll_n': '74', 'course': 'aiml'}

In [21]:
#update() 
dic.update({'CTTC':'BBSR'})
dic

{'name': 'Suryasnata', 'roll_n': '74', 'course': 'aiml', 'CTTC': 'BBSR'}

In [22]:
#get() 
dic.get(1)

In [44]:
#pop() 
dic={'name':'Surya','roll_n':'74','course':'aiml'}
dic.pop('course')

'aiml'

In [45]:
dic

{'name': 'Surya', 'roll_n': '74'}

In [31]:
#clear()
dic.clear()

In [32]:
dic

{}

# Q.question
## 'ENCYCLOPEDIA'
### a. "LOPE"
### b. "DEPOL"
### c. "ADPLYN"
### d. "OYE"

## "PYTHON PROGRAMMING"
### a. "GRAM"
### b. "THO"
### c. "PORA"

In [58]:
## 'ENCYCLOPEDIA'
a = "ENCYCLOPEDIA"
print(a[5:9:1])  #LOPE
print(a[-3:-8:-1])   #DEPOL
print(a[-1:-12:-2])  #ADPLYN
print(a[-6::-3])    #OYE

LOPE
DEPOL
ADPLYN
OYE

In [75]:
#PYTHON PROGRAMMING
b = "PYTHON PROGRAMMING"
print(b[10:14:1])  #GRAM
print(b[2:5:1])  #THO
print(b[0:13:4])  #PORA

GRAM
THO
PORA

# Operators:

## Operators:
#### operators are the symbols which are used to perform operations on values and variables
### Types Of Operators in Python :
#### *Arthimatic Operators 
#### *Assignment operators
#### *Comparision/Relational Operators
#### *Logical Operators 
#### *Identity Operators 
#### *Membership Operators

In [76]:
# Signal devision (/) : returns quotient with decimal.
x = 2
y = 3
print(x/y)

0.6666666666666666

In [78]:
# flooe division(//) : return quotient without decimal(only integer).
x = 2
y = 3
print(x//y)

0

In [79]:
#  module(%)
x = 2
y = 3
print(x%y)

2

In [80]:
# powering(**)
x = 2
y = 3
print(x**y)

8

## ASSIENMENT-1

In [2]:
# Q1. What is the Output of this code.
a = '10'
b = int(a)+float(b)
print(b)

NameError: name 'b' is not defined

In [36]:
# Q2. Wapp to enter Your fullname and Print the Surename.
# input >> 'Mohandas Karmachand Gandhi'
# Output >> 'Gandhi'
x = input("Enter your name")
print(x)
a = x.split()
print(a[-1])
# b = x.split('Mohandas Karmachand')
# print(b)

Enter your name ,dcskbvjchng

,dcskbvjchng
,dcskbvjchng

In [43]:
# Q3. Wapp to add 7000 After 6000 in the given list.
# Lis[10,20,[300,400[5000,6000],500],30,40]
a = [10,20,[300,400,[5000,6000],500],30,40]
a1 = a[2]
a2 = a1[2]
# a3 = a[2][2]
# a2.insert(2,7000)
# a3.insert(2,7000)
a2.append(7000)
a

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [42]:
# Q4. Marks obtain by the student are given in a list the student who got 3rd position in the class.
marks = [85,86,78,88,89,90,87,65,76,56,98,95]
marks.sort()
print(marks[2])

76

In [67]:
# Q5. given list of all animals perform all operations on the list
# animals  = ['cat','dog', 'parrot','tiger','zebra']
#1.add new animal "lion" to the list
#2.add 'bear' in between 'dog and 'parrot'.
#3. add some more animals like'rabbit','horse'
#4. delete the 2nd 'tiger' from the list.
#5 . print the final lst of animals.
#6. print total no of animals.
a  = ['cat','dog', 'parrot','tiger','zebra']
#1.add new animal "lion" to the list
a.append('lion')
print(a)
#2.add 'bear' in between 'dog and 'parrot'.
a.insert(2,'bear')
print(a)
#3. add some more animals like'rabbit','horse'
a.extend(['rabbit','horse','Tiger'])
print(a)
#4. delete the 2nd 'tiger' from the list.
# Question error
a.pop()
print(a)
#5 . print the final lst of animals.
print(a)
#6. print total no of animals.
print(len(a))

['cat', 'dog', 'parrot', 'tiger', 'zebra', 'lion']
['cat', 'dog', 'bear', 'parrot', 'tiger', 'zebra', 'lion']
['cat', 'dog', 'bear', 'parrot', 'tiger', 'zebra', 'lion', 'rabbit', 'horse', 'Tiger']
['cat', 'dog', 'bear', 'parrot', 'tiger', 'zebra', 'lion', 'rabbit', 'horse']
['cat', 'dog', 'bear', 'parrot', 'tiger', 'zebra', 'lion', 'rabbit', 'horse']
9