### Assignment operator:-

In [1]:
a = 100
a

100

In [3]:
# += :- ASsignment & Arithmatic :-
a = 10
b = 20
print(a)
print(b)
a += b  #a += b -> a = a+b
print(a)

10
20
30

In [4]:
c = a+b
c

50

In [5]:
# -= :- ASsignment & Arithmatic :-
a = 10
b = 20
print(a)
print(b)
a -= b  #a -= b -> a = a-b
print(a)

10
20
-10

In [6]:
# *= :- ASsignment & Arithmatic :-
a = 10
b = 20
print(a)
print(b)
a *= b  #a *= b -> a = a*b
print(a)

10
20
200

### Comparision Operator :- Used to compare the values.

In [7]:
100 > 67

True

In [8]:
18 > 77

False

In [9]:
66 == 66

True

In [10]:
'cat' != 'CAT'

True

In [11]:
100 <= 100

True

In [13]:
'Z' < 'z'   # due to ascii value 122 < 95

True

### Logical Operator :- used to combine multiple condition at a time

In [15]:
# and :- (&&) - if all conditionas are true then the result will be true.
('cat' == 'cat') and ('dog' != 'cat')

True

In [18]:
# or:- (||) - if any of the conditionas is true then the result will be true.
('cat' == 'cat') or ('dog' != 'cat')

True

In [20]:
(15 % 5 == 0) or (15 % 4 == 0)

True

In [24]:
# not :- unary operator :- it is an unary operator , that true condition as false and vice-verse.
(15 % 5 != 0)

False

In [23]:
not(15 % 5 == 0)

False

### Special Operators :- 
#### Membership operators :-It is used to check weather an element is present within a sequence or not.

In [25]:
# in operator :- Return if an element is present within the sequence.
'A' in 'Aeroplane'

True

In [26]:
'N' in 'Aeroplane'

False

In [27]:
'Q' in 'Aeroplane'

False

In [28]:
12 in [1,2,3,4,5]

False

In [30]:
# not in operator :- Return if an element is not present within the sequence.
'N' not in 'Aeroplane'

True

In [31]:
'e' not in 'Aeroplane'

False

In [32]:
'cat' not in {'dog','cat','tiger'}

False

### Q. Wapp to return true if a character is a vowel

In [45]:
# x = input("enter a char")
# Y = ['A'or 'a' or 'E' or 'e' or 'I'or 'i'or 'O' or 'o' or 'u' or 'u']
# x in y

char = input("enter a char")
x in 'aeiouAEIOU'

enter a char l

False

### Identity operator :- used to compare the address of any variable.

In [50]:
# is :- return True if the addresses of both variables are same.
x = 190
y = 190
print(x is y)
# to check the address of any variables we can use id()
print(id(x))
print(id(y))

True
140723297993048
140723297993048

In [57]:
# is not :- return True if the addresses of both variables are differnet.
x = [1,2,3]
# y = [1,2,3]
y = x
print(x is not y)
# to check the address of any variables we can use id()
print(id(x))
print(id(y))
print(y)

False
2814639568768
2814639568768
[1, 2, 3]

In [86]:
# Question :- Wapp to return if a year is leap else return.
x = int(input(" Enter a year"))
y = (( x % 4 == 0) and ( x % 100 != 0)) or ( x % 400 == 0)
print(y)
# method -2
# x = int(input(" Enter a year:"))
# (( x % 4 == 0) and ( x % 100 != 0)) or ( x % 400 == 0)

 Enter a year 2025

False

### Indentation = it is one of the most imp. features in puthon . it incdicates the block of code.

In [94]:
if 'A' == 'A':
    print("both are equal")     #space is called Indentation Space == 1 Tab Space == 4 manual Space

both are equal

In [90]:
if 'A' == 'A'
print("both are equal")   #Indetation Error

SyntaxError: expected ':' (2315309145.py, line 1)

In [95]:
if 'A' == 'A':
    print("both are equal")
    print("next sentence")

both are equal
next sentence

In [96]:
if 'A' == 'A':
    print("both are equal")
    print("next sentence")
print('Out of the block')

both are equal
next sentence
Out of the block

### Condtional Statement/ Decision making statement/Control statement :- 
#### 1.if
#### 2.if-else
#### 3.nested if
#### 4.if-elif-else

In [103]:
# check vowels
#if = if condition is true retuen print 
char = input("Enter a character:")
if char in 'aeiouAEIOU':
    print(char,"is a vowel")

Enter a character: a

a is a vowel

In [106]:
# if else :- if checks the truthness as well as the falsiness of the
char = input("Enter a character:")
if char in 'aeiouAEIOU':
    print(char,"is a vowel")
else:
    print(char,"is not a vowel")

Enter a character: q

q is not a vowel

In [120]:
# nested if :- to make more then one condition at a time.
tenth = float(input("Enter 10th Marks:"))
twelve = float(input("Enter 12th Marks:"))
btech = float(input("Enter btechth Marks"))
if tenth >= 80:
    if twelve >=80:
        if btech >=80:
            print("you are eligible for this schoraship ")
        else:
            print("not eligible for btech marks is less ")
    else:
        print("Aur kar masti 12th mai ")
else:
    print("Padhai kar leta 10th me")

Enter 10th Marks: 45
Enter 12th Marks: 66
Enter btechth Marks 89

Padhai kar leta 10th me

In [124]:
# if-elif-else
treat = input("Enter what you wannna want:").lower()
if treat == 'burgur':
    print("we will have burgur party")
elif treat == 'pizza':
    print("we will have pizza party today")
elif treat == 'biriyani':
    print("biriyani khane jate hai")
elif treat == 'pakhala':
    print("ghar me kha le nah")
else :
    print("by by")

Enter what you wannna want: PIZZA

we will have pizza party today

### Assignment :-2
#### Q1. Wapp to check if the enterd character is a alphabet,digit or special character.
#### Q2. A company decided to give 5% Bounou to its employees if his/her service is more than 5 years.Ask user for their salary and year of experience and print the net bonus amount.

In [140]:
#  Q1.Wapp to check if the enterd character is a alphabet 
a = input("enter a character:")
if a.isalpha():
    print( " Alphabet ") 
elif a.isdigit():
    print(" Digit ")
elif a.isspace():
    print("space")
else:
    print(" Special Character ")

enter a character: $

 Special Character

In [138]:
# Q2. A company decided to give 5% Bounou to its employees if his/her service is more than 
#5 years.Ask user for their salary and year of experience and print the net bonus amount.
a = int(input("enter your salary:"))
b = int(input("Enter your years of experience"))
if b>5:
    print("net bonus amount",a*5/100)
    print("Total Salary amount",a+a*5/100)
else:
    print("you are not experienced")

enter your salary: 2000
Enter your years of experience 12

net bonus amount 100.0
Total Salary amount 2100.0